<div id="SguilConsole" ng-cloak layout-fill style="height: 100vh;" layout="column">

    <div role="main" aria-hidden="false">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">

                <h2 flex="" md-truncate="">Sguil RealTime Console</h2>
                <h5 flex="" md-truncate="">{{ gmttime | date:'yyyy-MM-dd HH:mm:ss': 'UTC/GMT' }} GMT</h5>

                <md-button class="md-icon-button" aria-label="User Info">
                  <md-icon md-svg-src="images/person_outline.svg"></md-icon>
                  <md-tooltip class="multiline-tt" md-direction="left">
                      Server: {{ cleanName }}<br>
                      Username: {{ username }}<br>
                      User ID: {{ userid }}<br>
                      Selected Event: {{ selectedRow }}
                  </md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="Logout">
                  <md-icon ng-click="logout()" md-svg-src="images/logout.svg"></md-icon>
                  <md-tooltip md-direction="left">Logout</md-tooltip>
                </md-button>

                <md-menu>
                  <md-button class="md-icon-button" aria-label="More" ng-click="topMenu($mdMenu, $event)">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                  </md-button>
                  <md-menu-content width="4">
                    <md-menu-item>
                      <md-button ng-click="showAbout($event)">
                        <md-icon md-svg-icon="images/info_outline.svg" md-menu-align-target></md-icon>
                        About Sguil
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>

            </div>
        </md-toolbar>
    </div>
    <div id="top-container" flex="65">
        <md-tabs layout-fill md-selected="selectedMainTab" md-autoselect md-border-bottom class="md-primary md-hue-1">
            <md-tab ng-repeat="tab in mainTabs" md-on-select="newTabSelected(tab.title, tab.type)">
                <md-tab-label>
                    {{tab.title}} 
                    <a ng-if="tab.close" ng-click="removeQuery($index,tab)">
                        <md-icon md-svg-src="images/ic_cancel_24px.svg"></md-icon>
                        <md-tooltip md-direction="bottom">Close Tab</md-tooltip>
                    </a>
                </md-tab-label>
                <md-tab-body>
                    <div layout-fill layout=column>
                        <div ng-style="{'display': showSearchProgress(tab.title)?'block':'none'}">
                            <md-progress-linear flex="" md-mode="indeterminate"></md-progress-linear>
                        </div>
                        <md-toolbar ng-if="tab.close" layout="row" class="md-hue-3 md-small toolbar-checkbox">
                            <div class="md-toolbar-tools">
                            <a ng-if="tab.refresh" ng-click="refreshQuery($index,tab)">
                                <md-icon md-svg-src="img/icons/ic_refresh_24px.svg"></md-icon>
                                <md-tooltip md-direction="bottom">Rerun Query</md-tooltip>
                            </a>
                            <a ng-if="tab.edit" ng-click="editQuery($index,tab)">
                                <md-icon md-svg-src="images/ic_edit_24px.svg"></md-icon>
                                <md-tooltip md-direction="bottom">Edit Query</md-tooltip>
                            </a>
                            <a ng-if="tab.save" ng-click="saveQuery($index,tab)">
                                <md-icon md-svg-src="images/ic_save_24px.svg"></md-icon>
                                <md-tooltip md-direction="bottom">Save Results</md-tooltip>
                            </a>
                            <a ng-if="tab.view" ng-click="showQuery($index,tab)">
                                <md-icon md-svg-src="images/ic_eye_24px.svg"></md-icon>
                                <md-tooltip md-direction="bottom">View Query</md-tooltip>
                            </a>
                            </div>
                        </md-toolbar>
                        <div layout-fill compile="tab.content"></div>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
    <div class="bottom-container" flex="35" layout="row">
        <div layout="column" style="width: 50%">
                <md-tabs layout-fill md-selected="selectedBottomTab" md-border-bottom class="md-primary md-hue-1">
                  <md-tab label="IP Info">
                      <div layout="column" layout-fill>
                      <md-toolbar layout="row" class="md-hue-3 md-xsmall toolbar-checkbox">
                          <div class="md-toolbar-tools">
                            <h2 class="md-toolbar-tools" style="color:white">Lookup Address: {{ eventinfo.lookupip }}</h2>
                            <md-radio-group layout="row" ng-model="eventinfo.whois" ng-change="displayWhoisData" class="md-toolbar-tools">
                                <md-radio-button value="none" class="md-toolbar-tools md-primary" style="color:white">None</md-radio-button>
                                <md-radio-button value="src_ip" class="md-toolbar-tools md-primary" style="color:white">SrcIP</md-radio-button>
                                <md-radio-button value="dstip" class="md-toolbar-tools md-primary" style="color:white">DstIP</md-radio-button>
                            </md-radio-group>
                          </div>
                      </md-toolbar>
                      <md-content>
                      <div id="whoisLog" style="font-size:12px"></div>
                      </md-content>
                      </div>
                  </md-tab>
                  <md-tab label="Chat">
                    <div layout-fill layout="column">
                    <md-content style="height: 100%" class="md-padding" scroll-glue>
                        <div id="chatLog" style="font-size:12px" scroll-glue></div>
                    </md-content>
                    <div>
                        <md-content class="md-no-momentum">
                            <md-input-container class="md-icon-float md-block">
                              <label>Send Message</label>
                              <md-icon md-svg-src="img/icons/ic_comment_24px.svg" class="name"></md-icon>
                              <input ng-model="eventinfo.msg" type="text" ng-keyup="$event.keyCode == 13 && sendMsg()">
                            </md-input-container>
                        </md-content>
                    </div>   
                    </div>
                  </md-tab>
                  <md-tab label="Log">
                    <md-content class="md-padding">
                       <div id="systemLog" style="font-size:12px" scroll-glue></div>
                    </md-content>
                  </md-tab>
                  <md-tab label="Downloads">
                    <md-content class="md-padding">
                        <div id="downloads">
                            <div ng-repeat="pcapEvent in pcapDownloads">
                                <md-toolbar class="md-small md-hue-2">
                                    <div class="md-toolbar-tools">
                                        <h2 flex="" md-truncate="">Event {{ pcapEvent }}</h2>
                                        <md-progress-linear ng-disabled="showProgress(pcapEvent)" flex="" md-mode="indeterminate"></md-progress-linear>
                                        <md-button ng-click="downloadPcap(pcapEvent)" ng-disabled="disablePcapButton(pcapEvent)" class="md-small md-hue-2">Get Pcap</md-button>
                                    </div>
                                </md-toolbar>
                                <br>
                            </div>
                        </div>
                    </md-content>
                  </md-tab>
                </md-tabs>
        </div>

        <div layout="column" style="height: 100%; width: 50%;">

            <div layout="column" ng-show="displayJSONData" id="jsonDataDisplay">
                <md-toolbar layout="row" class="md-hue-1 md-small toolbar-checkbox">
                    <div class="md-toolbar-tools">
                    <h2 class="md-toolbar-tools" style="color:white">Additional Details</h2>
                    </div>
                </md-toolbar>
                <md-content flex="100">
                    <table class="flowtable">
                        <tr ng-repeat="(key, value) in jsonData">
                            <!--
                            <td style="text-align: left; vertical-align: middle;">
                                <md-checkbox ng-change=upateColumnVis(key) class="table"></md-checkbox>
                            </td>
                            -->
                            <td><b>{{ key }}:</b></td>
                            <td>{{ value }}</td>
                        </tr>
                    </table>
                    <!--
                    <div ng-repeat="(key, value) in jsonData">
                        <md-checkbox>
                              <b>{{ key }}:</b> {{value}}
                        </md-checkbox>
                    </div>
                    -->
                </md-content>
            </div>

            <div layout="column" ng-show="displayEventData" id="eventDataDisplay" style="height: 100%;">

                <div layout="column" flex="45">
                    <md-toolbar layout="row" class="md-hue-1 md-small toolbar-checkbox">
                        <div class="md-toolbar-tools">
                        <md-checkbox ng-model="eventinfo.sig" ng-change="clickSignature()" aria-label="Signature Checkbox"></md-checkbox>
                        <h2 class="md-toolbar-tools" style="color:white">Signature</h2>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <div id="eventSignature" style="font-family:monospace;font-size:12px;"></div>
                    </md-content>
                </div>
                
                <div layout="column" flex="55">
                <md-content>
                <div layout="row" flex="100">
                    <div layout="column" style="width:70%">
                        <md-toolbar layout="row" class="md-hue-1 md-small">
                        <div class="md-toolbar-tools">
                            <md-checkbox ng-model="eventinfo.payload" ng-change="clickPayload()" aria-label="Payload Checkbox"></md-checkbox>
                            <h2 class="md-toolbar-tools" style="color:white">Hex Payload</h2>
                        </div>
                        </md-toolbar>
                        <div id="payloadHex" style="font-family:monospace;font-size:12px;"> </div>
                    </div>

                    <md-divider></md-divider>
                
                    <div layout="column" style="width:30%">
                        <md-toolbar layout="row" class="md-hue-1 md-small">
                            <div class="md-toolbar-tools">
                            <h2 class="md-toolbar-tools" style="color:white">Ascii Payload</h2>
                            </div>
                        </md-toolbar>
                        <div id="payloadAscii" style="font-family:monospace;font-size:12px;">
                        </div>
                    </div>
                </div>
                </md-content>
                </div>

            </div>
        </div>
    </div>

    <div style="visibility: hidden">
       <div class="md-dialog-container" id="sguilLogin">
            <md-dialog layout-padding>
                <form class="form-signin" name="form" ng-submit="login()" role="form">
                    <img src="images/sguil_logo_h.gif">
                    <br /><br /> 
                    <div class="form-group">
                        <label for="username">Username</label>
                        <i class="fa fa-key"></i>
                        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <i class="fa fa-lock"></i>
                        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </div>
                    <br /><br /> 
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                </form>
            </md-dialog>
        </div>
    </div>

    <div style="visibility: hidden">
       <div class="md-dialog-container" id="sguilSensorSelect">
            <md-dialog layout-padding>
                <div="SensorSelectController" class="md-padding demo" >
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                        <img src="images/sguil_logo_h.gif" style="padding:15px">
                    </section>
                    <div layout="row" layout-wrap>
                        <div flex="100" layout="column">
                            <div>
                            <!--
                              In IE, we cannot apply flex directly to <fieldset>
                              @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
                            -->
                                <fieldset class="demo-fieldset" >
                                <legend class="demo-legend">Select Sensor Networks to Monitor</legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex-xs flex="50" ng-cloak>
                                        <md-checkbox aria-label="Select All"
                                             ng-checked="isChecked()"
                                             md-indeterminate="isIndeterminate()"
                                             ng-click="toggleAll()">
                                            <span ng-if="isChecked()">Un-</span>Select All
                                        </md-checkbox>
                                    </div>
                                    <div class="demo-select-all-checkboxes" flex="100" ng-repeat="sensor in sensorNames">
                                        <md-checkbox ng-checked="exists(sensor, selected)" ng-click="toggle(sensor, selected)">
                                              {{ sensor }}
                                        </md-checkbox>
                                    </div>
                                </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                          <md-button class="md-raised md-primary" ng-click="monitor()">Monitor</md-button>
                    </section>
                </div>            
            </md-dialog>
        </div>
    </div>

    <div style="visibility: hidden">
        <div class="md-dialog-container" id="eventhistory">
            <md-dialog aria-label="Event History">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Event History - {{ selectedRow }}</h2>
                    </div>
                </md-toolbar>
          
                <div id="history-table" class="md-dialog-content"></div>
            </md-dialog>
        </div>
    </div>

    <nav id="eventid-menu" class="context-menu">
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="pcapRequest($event, 'xscript')">Transcript</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="pcapRequest($event, 'pcap')">Request Pcap</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="showHistory($event)">History</md-button>
            </md-menu-item>
        </nav>
    
        <nav id="ip-menu" class="context-menu">
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="prepEventSearchDialog($event, selectedFieldName)">Search Events</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="prepElasticSearchDialog($event, selectedFieldName)">Search Elastic </md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="webLookup(selectedFieldName)">TCPIPUtils Lookup</md-button>
            </md-menu-item>
        </nav>
    
        <nav id="signature-menu" class="context-menu">
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="showEventSearchDialog($event, 'signature')">Search Events</md-button>
            </md-menu-item>
        </nav>
    
        <nav id="priority-menu" class="context-menu">
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('1')">Update to NA</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="escalateEvent('2')">Escalate Event</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('11')">Update to Cat 1</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('12')">Update to Cat 2</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('13')">Update to Cat 3</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('14')">Update to Cat 4</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('15')">Update to Cat 5</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('16')">Update to Cat 6</md-button>
            </md-menu-item>
            <md-menu-item class="md-small">
                <md-button class="md-small" ng-click="updateEventStatus('17')">Update to Cat 7</md-button>
            </md-menu-item>
        </nav>
    <script>
        $("#history-table").tabulator({
            layout:"fitColumns", //fit columns to width of table (optional)
            layoutColumnsOnNewData:true,
                columns:[
                    {title:"Username", field:"username", align:"left", width:"130"},
                    {title:"Timestamp", field:"timestamp", align:"left", width:"130"},
                    {title:"Status", field:"status", width:"80"},
                    {title:"Description", field:"description", align:"left", width:"200"},
                    {title:"Comment", field:"comment", align:"left"}
                ]
            });
    </script>

</div>