.checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }

  /*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/