html, body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.top-container {
  height: 450px;
  max-height: 450px;
}
.bottom-container {
  height: 30vh;
  max-height: 30vh;
}

md-list-item, md-list-item .md-list-item-inner {
  min-height: 20px;
  height: 25px;
}

.tabbutton {
  padding: 0 0px 0 0px;
  margin: 0px 0px 0px 0px;
  min-width: 12px;
  min-height: 12px;
  line-height: 24px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

md-button.md-xsmall{
  min-height: 23px !important;
  min-width: 46px !important;
  font-size: 10px !important;
  line-height: 0px; 
}

table.flowtable {
  background-color: #EEEEEE;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
table.flowtable tr {
  border-top: 1px solid #1C6EA4;
  border-bottom: 1px solid #1C6EA4;
}
table.flowtable th {
  font-size: 12px;
  padding: 3px 32px;
}
table.flowtable td {
  font-size: 12px;
  padding: 3px 32px;
}
md-checkbox.md-checkbox-small {
    vertical-align: middle !important;
    display: block;
    margin: 8px;
    margin: 0px;
}
md-checkbox.md-checkbox-small .md-icon {
    transform: scale(.75);
    padding: 0px 0px;
    vertical-align: middle !important;
 }
  
md-checkbox.md-checkbox-small .md-label {
    margin-left: 25px;
    vertical-align: middle !important;
}

md-tooltip .md-content {
    height: auto !important;
    max-width: 200px !important;
    font-size: 13px !important;
}

md-tooltip {
    height: auto !important;
    max-width: 200px !important;
    font-size: 13px !important;
    overflow: visible !important;
    white-space: normal !important;
}

md-tooltip ._md-content {
    height: auto !important;
    max-width: 200px !important;
    font-size: 13px !important;
}

._md-content.packet-data {
    font-size: 10px !important;
    font-family: monospace;
}

md-toolbar.md-small {
    height: 32px;
    min-height: 32px;
    max-height: 32px;
}
md-toolbar.md-small .md-toolbar-tools {
    font-size: 14px;
    height: 32px;
    min-height: 32px;
    max-height: 32px;
}

md-toolbar.md-xsmall {
    height: 24px;
    min-height: 24px;
    max-height: 24px;
}
md-toolbar.md-xsmall .md-toolbar-tools {
    font-size: 14px;
    height: 24px;
    min-height: 24px;
    max-height: 24px; 
}

.md-tab > md-icon {
  color: inherit;
}
md-sidenav.md-locked-open {
  width:     140px !important;
  min-width: 140px !important;
  max-width: 140px !important;
}
/*
md-pagination-wrapper {
  height: 32px;
}
md-tab-item {
  padding: 5px !important;
}
md-tabs-wrapper, md-tabs-canvas, md-pagination-wrapper {
    height: 32px !important;
}
*/

md-menu-item.md-small {
  min-height: 24px;
  height: 24px;
 }
  md-menu-item > .md-button {
    font-size: 12px;
    min-height: 24px !important;
    line-height: 24px !important;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%; }
    md-menu-item > .md-button::-moz-focus-inner {
      padding: 0;
      border: 0; }
    [dir=rtl] md-menu-item > .md-button {
      text-align: right; }
    md-menu-item > .md-button md-icon {
      margin: auto 16px auto 0; }
      [dir=rtl] md-menu-item > .md-button md-icon {
        margin: auto 0 auto 16px; }
    md-menu-item > .md-button p {
      display: inline-block;
      margin: auto; }
    md-menu-item > .md-button span {
      margin-top: auto;
      margin-bottom: auto; }
    md-menu-item > .md-button .md-ripple-container {
      border-radius: inherit; 
}

md-button.md-small {
  min-height: 24px !important;
  line-height: 24px !important;
  font-size: 12px !important;
}
/* context (rightclick) menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 150px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 0px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

/*
[scroll-glue-top],
[scroll-glue-bottom],
[scroll-glue]{
  height: 100px;
  overflow-y: scroll;
  border: 1px solid gray;
}

[scroll-glue-left],
[scroll-glue-right]{
  width: 100px;
  overflow-x: scroll;
  border: 1px solid gray;
  padding: 10px;
}

[scroll-glue-left] span,
[scroll-glue-right] span{
  border: 1px solid black;
}
*/
/*
.toolbar-checkbox md-checkbox {
    margin-top: 6px;
}
*/